extends layout.pug
append head
  link(rel='stylesheet' href='/stylesheets/profile.css')
block content
  div.navDiv
    nav.navBar
      div#usernameAndAbout
        div#username
          h2= user.username
        div#aboutDiv
          a#about(href='/about') About
      div#rightNav
        div#searchBar
          img(src=('Assets/imgPath/search.png') alt='search button' id='search-btn')
          input(type='text' name='searchedStory' placeholder=`Search ${user.username} stories` id='search')
        div#formBtns
          div.newStoryDiv
            form(action='/stories' method='post').newStoryForm
              button(type='submit' id='newStory') New Story
          div.logoutDiv
            form(action='/profile/logout' method='post').logoutForm
              button(type='submit' id='logout') Logout
  main
    span#pinnedPanel
      h3 Pinned Stories
      div.pinnedContainer
        p this is to test this out
        if pinned
          ul
            each pin in pinned
              li
                //- finshed this off with pinned attributes.
    span#stories
      div.storyContainer
        h1 Created Stories:
        if stories.length
          ul.stories
            each story in stories
              li.story
                a(href=`/stories/${story.id}`).storyref
                h1.title= story.title
                p.body= story.body

        else
          p.elseStatment Have something to share?
            a(href='/stories')  Write your first story.
  script(src='javascripts/profile.js')
