extends layout.pug
append head
  link(rel='stylesheet' href='/stylesheets/profile.css')
block content
  div.navDiv
    nav.navBar
      #logo
        a(href='/')
        #meadium Meadium
        #goodness Goodness
      div#usernameAndAbout
        div#username
          h2= user.username
        div#aboutDiv
          a#about(href=`/profile/about/${user.id}`) About
      div#rightNav
        div#searchBar
          img(src=('/Assets/imgPath/search.png') alt='search button' id='search-btn')
          input(type='text' name='searchedStory' placeholder=`Search ${user.username} stories` id='search')
        div#formBtns
          div.newStoryDiv
            form(action='/profile/stories/' method='GET').newStoryForm
              button(type='submit' id='newStory') New Story
          div.logoutDiv
            form(action='/profile/logout' method='post').logoutForm
              button(type='submit' id='logout') Logout
  main
    span#pinnedPanel
      h3 Pinned Stories
      div.pinnedContainer
        if pinned
          ul.pins
            each pin in pinned
              li.pinned
                a(href=`/stories/${pin.pinnedStoryId}`)= pin.pinnedStoryId.titile
                //- finshed this off with pinned attributes.
    span#stories
      div.storyContainer
        if stories.length
          h1 Created Stories:
          ul.stories
            each story in stories
              li.story
                a(href=`/stories/${story.id}`).storyref
                .storyItems
                  img(src=`${story.imgPath}`)
                  h1.title= story.title
                  p.body= story.body

        else
          p.elseStatment Have something to share?
            a(href='/stories')  Write your first story.
  script(src='/javascripts/profile.js')
