extends layout.pug
append head
  link(rel='stylesheet' href='/stylesheets/profile.css')
block content
  include includes/nav.pug
  main
    span#pinnedPanel
      h3.pinned-title Pinned Stories
      div.pinnedContainer
        if pinned
          ul.pins
            each pin in pinned
              li.pinned
                a(href=`/stories/${pin.pinnedStoryId}`) #{pin.Story.title}
    span#stories
      div.storyContainer
        if stories.length
          h1 Created Stories:
          ul.stories
            each story in stories
              li.story
                a(href=`/stories/${story.id}`).storyref
                .storyItems
                  img(src=`${story.imgPath}`)
                  h1.title= story.title
                  p.body= story.body
        else
          p.elseStatment Have something to share?
            a(href='/stories')  Write your first story.
  include footer.pug
  script(src='/javascripts/profile.js')
