extends layout.pug
append head
    link(rel='stylesheet' href='/stylesheets/authentication.css')
block content
    form.signupform(action="/signup", method="post")
        input(type='hidden' name='_csrf' value=csrfToken)
        if errors
            div(class='alert alert-danger' role='alert')
                p The following error(s) occurred:
                ul
                    each error in errors
                        li= error
        .Header.auth
            h2.signup Sign up with email
            .subheader.signup
                h4.Header.auth.subheader Enter the info below to create an account.
                .form-group
                    h4.Header.auth.subheader.small Your username
                    input(type="text", name="username" id="username" placeholder='great_user_name' value=username required)
                .form-group
                    h4.Header.auth.subheader.small(for="firstName") Your first name
                    input(type="text", name="firstName" id="firstName" placeholder='Jane' value=firstname required)
                .form-group
                    h4.Header.auth.subheader.small(for="lastName") Your last name
                    input(type="text" name="lastName" id="lastName" placeholder='Doe' value=firstname required)
                .form-group
                    h4.Header.auth.subheader.small(for="email") Your email
                    input(type="email" name="email" id="lastName" placeholder="youremail@email.com" value=email required)
                .form-group
                    h4.Header.auth.subheader.small(for="password") Your password
                    input(type="password" name="password" id="password" placeholder="password" required)
                    h4.Header.auth.subheader.small(for="passwordConfirm") Confirm your password
                    input(type="password" name="passwordConfirm" id="passwordConfirm" placeholder="Enter Password again" required)
                .submit.Header.auth
                    button(type="submit") Continue
