extends layout.pug
include includes/header.pug
include utils.pug
append head
    link(href="https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon+SC&display=swap" rel="stylesheet")
    link(rel='stylesheet' href='/stylesheets/cheers.css')
    link(rel='stylesheet' href='/stylesheets/stories.css')
    script(src='../javascripts/cheers.js')
    script(src='/javascripts/comments.js')
block content
    .story.container
        .story.title.container
            h1.title.text= story.title
        .story.subheader.container
            h3.subheader.text= story.subheader
        .story.rating.container
            h4.rating#text Story Rating:  
            h4.rating#rating #{avgRating}
        .story.image.container
            img.story.image.content(src=`${story.imgPath}`)
        .story.profile.social.container
            .grid.column.two
                .profile.picture.container
                    img.profile.picture(src=story.User.profilePic)
                .profile.name-created.container
                    p.profile.name #{story.User.firstName} #{story.User.lastName}
                    p.story.createdDate= created
            .profile.socials.container
                i.fab.fa-twitter
                i.fab.fa-linkedin
                i.fab.fa-facebook-square
        .story.body.text.container
            p.body.text= story.body
        .story.cheers.container
            form.rating#rating-container(action=`/stories/${story.id}/cheers` method="post")
                label(for="5" id=`5|${userId}|${story.id}`)
                label(for="4" id=`4|${userId}|${story.id}`)
                label(for="3" id=`3|${userId}|${story.id}`)
                label(for="2" id=`2|${userId}|${story.id}`)
                label(for="1" id=`1|${userId}|${story.id}`)
        .story.footer.container
            each comment in story.Comments
                p= comment.comment
            form#comment-field(action=`/stories/${story.id}` method='post')
                label(for='comment') Add a comment
                div
                    textarea(type='text' name='comment' required)
                div
                    button(type='submit' id='comment-button' value=`${userId}|${story.id}`) Comment
