extends layout.pug
include includes/header.pug
include utils.pug
append head
    //- link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
    //-     integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous")
    link(href="https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon+SC&display=swap" rel="stylesheet")
    link(rel='stylesheet' href='/stylesheets/cheers.css')
    link(rel='stylesheet' href='/stylesheets/stories.css')
    link(rel='stylesheet' href='/stylesheets/comments.css')
    link(rel='stylesheet' href='/stylesheets/pins.css')
    script(src="https://kit.fontawesome.com/2ed6a75d45.js" crossorigin="anonymous")
    script(src='../javascripts/cheers.js')
    script(src='../javascripts/comments.js')
    script(src='../javascripts/pins.js')
block content
    include includes/nav.pug
    .story.outer-container
        .story-and-pins.container
            .story.pins.container
                .pin.author.container
                    .pin.author.name #{story.User.firstName} #{story.User.lastName}
                .pin.ratings-pin.container
                    .pin.ratings.container
                        i.fas.fa-glass-cheers
                        if countCheers === 1
                            .ratings.count-cheers #{countCheers} cheer
                        else
                            .ratings.count-cheers #{countCheers} cheers
                    .pin.pin-button.container
                        if pinned
                            i.fas.fa-bookmark#bookmark
                        else
                            i.far.fa-bookmark#bookmark
            .story.container
                .story.title.container
                    h1.title.text= story.title
                .story.subheader.container
                    h3.subheader.text= story.subheader
                .story.rating.container
                    h4.rating#text Story Rating:
                    h4.rating#rating #{avgRating} cheers
                .story.image.container
                    img.story.image.content#image(src=`${story.imgPath}`)
                .story.profile.social.container
                    .grid.column.two
                        .profile.picture.container
                            img.profile.picture(src=story.User.profilePic)
                        .profile.name-created.container
                            p.profile.name #{story.User.firstName} #{story.User.lastName}
                            p.story.createdDate= createdStory
                    .profile.socials.container
                        i.fab.fa-twitter
                        i.fab.fa-linkedin
                        i.fab.fa-facebook-square
                .story.body.text.container
                    p= story.body
                    p= story.body
                    p= story.body
                    p= story.body
        .story.comments.container
            .story.cheers.container
                form.rating#rating-container(action=`/stories/${story.id}/cheers` method="post")
                    label(for="5" id=`5|${userId}|${story.id}`)
                    label(for="4" id=`4|${userId}|${story.id}`)
                    label(for="3" id=`3|${userId}|${story.id}`)
                    label(for="2" id=`2|${userId}|${story.id}`)
                    label(for="1" id=`1|${userId}|${story.id}`)
            .story#comments-field.comments.container
                each comment in story.Comments
                    .profilePic.container
                        img.profile.picture(src=story.User.profilePic)
                    .comment-info.container
                        p.story.comment.user= `${story.User.firstName} ${story.User.lastName}`
                        p.story.comment.createdAt= `${comment.createdAt}`.slice(4, 10)
                    .comment-content.container
                        .story-comment= `"${comment.comment}"`
            .story.comments-form.container
                form#comment-field(action=`/stories/${story.id}` method='post')
                    label.comments-form(for='comment') Add a comment
                    div
                        textarea.comments-form#text-area(type='text' cols="60", rows="5" name='comment' required)
                    div
                        button.comments-form(type='submit' id='comment-button' value=`${userId}|${story.id}`) Comment
    include footer.pug
